
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}
body{
  height: auto
}
.body-light{
  background-color:#f3f3f3;
  color : #000000;
  width: auto;
  height: auto;
  transition: 1s
}
.body-dark{
  background-color:#202C36;
  color : #ffffff;
  width: auto;
  height: auto;
  transition:1s
}
.child-light{
  background-color: #ffffff;
  transition:1s
}
.child-dark{
  background-color: #2B3844;
  transition:1s
}
#header{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0
}
#top-h-cnt{
  height:5.6vw;
}
#bottom-h-cnt, #top-h-cnt{
  display: flex;
  width: 100%;
  margin: auto;
  transition:1s;
}
#top-header{
  justify-content: end;
}
.top-header{
  margin: auto;
  width: 100%
}
#bottom-header,#top-header{
  position: relative;
  display: flex;
  width: 90%;
  margin: auto;
}
#bottom-header{
  margin-top: 3vw;
  justify-content: space-between;
}
#modes{
  display: flex;
  justify-content: flex-end;
  width: 10%;
  font-size: 1.1vw;
  font-weight: 600;
}
.modes{
  margin:auto;
  text-align: center;
}
#intro{
  font-weight: 800;
  font-size: 1.7vw
}
#search{
  width: 29.3vw;
  padding-left: 4vw;
  background-position: 5% center;
  background-size: 1.3vw 1.3vw ;
  background-repeat: no-repeat;
}
#search:focus{
  box-shadow: 0px 0px 4px 2px #1e90ff;
  outline: none
}
#search::placeholder{
  text-align: left;
  position: relative;
}
.select{
  background-repeat: no-repeat;
  background-position: 95% center;
  width: 12.9vw;
  padding-left:1vw;
  position: relative;
  text-align: left;
  user-select: none;
  caret-color: transparent;
  border-radius: 0.3vw
}

#options{
  position: relative;
  text-align: left;
}

#options div{
  cursor:pointer
}

.select,#search,#options{
  border: none;
  height: 3.9vw;
  border-radius: 0.3vw;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.97vw;
}
#modeimg{
  width: 1.0vw;
  height: 0.96vw
}
#countries{
  height: auto;
  display: grid;
  grid-template-columns: 26.47% 26.47% 26.47% 26.47%;
  margin: auto;
  width: 90%;
  position: relative;
  top: 15.5vw;
}

.flag{
  width: 18.3vw;
  height: 11.1vw;
  border-radius: 0.3vw 0.3vw 0 0
}
.countryName{
  font-weight: 800;
  font-size: 1.25vw;
  top: 1.8vw;
}
.cardItem{
  font-weight: 300;
  font-size: 0.97vw;
  margin-left: 1vw;
  position: relative;
}
.bold{
  font-weight: 600;
  font-size: 0.97vw;
  display: inline;
}
.description{
  position: relative;
  display: grid;
  grid-template-rows: 30% 30% 30%;
  height: 20%;
  top: 2.4vw;
}
#mode-text{
  cursor: pointer
}
#options div{ 
  display: block;
}
.opt-div{
  margin-left: 1vw;
}
.opt-div-cnt:hover{
  background-color: #1e90ff;
}
#options{
  height: auto;
  margin-left: 0px
}
#container{
  width: auto;
  height: auto;
}
#card{
  margin-bottom: 5vw;
  width: 18.3vw;
  height: 22.5vw;
  border-radius: 0.3vw
}
.srch-black::placeholder{
  color: white
}
.styleParent{
  margin-top:0.1vw;
  padding:0.5vw 0vw 1vw 0vw
}
.styleChild{
  margin-top:0.5vw
}