
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}
body{
  height: auto;
}
.body-light{
  background-color:#f3f3f3;
  color : #000000;
  width: auto;
  min-height: 64vw;
  height: 100%;
  overflow: hidden;
  position: relative;
  .child-light{
    background-color: #ffffff;
  }
}
.body-dark{
  background-color:#202C36;
  color : #ffffff;
  width: auto;
  min-height: 64vw;
  max-height: auto;
  overflow: hidden;
  .child-dark{
    background-color: #2B3844;
  }
}
#parentDiv{
  height: auto
}
#header{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0
}
#top-h-cnt{
  height:5.6vw;
}
#bottom-h-cnt, #top-h-cnt{
  display: flex;
  width: 100%;
  margin: auto;
}
#top-header{
  justify-content: end;
}
.top-header{
  margin: auto;
  width: 100%
}
#bottom-header,#top-header{
  position: relative;
  display: flex;
  width: 90%;
  margin: auto;
}
#bottom-header{
  margin-top: 3vw;
  justify-content: space-between;
}
#modes{
  display: flex;
  justify-content: flex-end;
  width: 10%;
  font-size: 1.1vw;
  font-weight: 600;
}
.modes{
  margin:auto;
  text-align: center;
}
#intro{
  font-weight: 800;
  font-size: 1.7vw
}
#search{
  width: 29.3vw;
  padding-left: 4vw;
  background-position: 5% center;
  background-size: 1.3vw 1.3vw ;
  background-repeat: no-repeat;
}
#search:focus{
  box-shadow: 0px 0px 4px 2px #1e90ff;
  outline: none
}
#search::placeholder{
  text-align: left;
  position: relative;
}
.select{
  background-repeat: no-repeat;
  background-position: 95% center;
  width: 12.9vw;
  padding-left:1vw;
  position: relative;
  text-align: left;
  user-select: none;
  caret-color: transparent;
  border-radius: 0.3vw
}

#options{
  position: relative;
  text-align: left;
}

#options div{
  cursor:pointer
}

.select,#search,#options{
  border: none;
  height: 3.9vw;
  border-radius: 0.3vw;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.97vw;
}
#modeimg{
  width: 1.0vw;
  height: 1.0vw
}
#countries{
  height: 100%;
  display: grid;
  grid-template-columns: 26.47% 26.47% 26.47% 26.47%;
  grid-template-rows: auto;
  margin: auto;
  width: 90%;
  position: relative;
  top: 15.5vw;
  margin-bottom: 20.5vw
}

.flag{
  width: 18.3vw;
  height: 11.1vw;
  border-radius: 0.3vw 0.3vw 0 0
}
.countryName{
  font-weight: 800;
  font-size: 1.25vw;
  top: 1.8vw;
}
.cardItem{
  margin-left: 1vw;
  position: relative;
}
.desc-item{
  font-weight: 300;
  font-size: 0.97vw;
}
.bold{
  font-weight: 600;
  font-size: 0.97vw;
  display: inline;
}
.description{
  position: relative;
  display: grid;
  grid-template-rows: 30% 30% 30%;
  height: 20%;
  top: 2.4vw;
}
#mode-text{
  cursor: pointer
}
#options div{ 
  display: block;
}
.opt-div{
  margin-left: 1vw;
}
.opt-div-cnt:hover{
  background-color: #1e90ff;
}
#options{
  height: auto;
  margin-left: 0px
}
#container{
  width: auto;
  height: auto;
}
#card{
  margin-bottom: 5vw;
  width: 18.3vw;
  height: 22.5vw;
  border-radius: 0.3vw;
}
#card:hover{
  transition: 100ms;
  transform: scale(1.1);
}
.srch-dark{
  background-color: #2B3844;
  color: white
}
.srch-dark::placeholder{
  color: white
}
.styleParent{
  margin-top:0.1vw;
  padding:0.5vw 0vw 1vw 0vw
}
.styleChild{
  margin-top:0.5vw
}
.concealor{
  position:absolute;
  top: 5vw;
  width: 100%;
  height: 130px;
  z-index: -1;
}
.concealor-light{
  background-color: #f3f3f3;
}
.concealor-dark{
  background-color:#202C36
}
@media (min-width: 481px) and (max-width: 1024px){
  #top-h-cnt{
    height:12vw;
  }
  #bottom-header{
    margin-top: 7vw;
  }
  #modes{
    font-size: 3vw;
    display: flex;
    justify-content: flex-end;
    width: 30%;
  }
  
  #intro{
    font-size: 3.4vw
  }
  #search{
    width: 35vw;
    padding-left: 10vw;
    background-size: 3vw 3vw;
    background-position: 10% center;
  }
  .select{
    width: 30vw;
    background-size: 2vw 2vw;
    background-position: 91% center;
    p{
        margin-left: 2vw
    }
  }
  
  .select,#search,#options{
    height: 10vw;
    font-size: 2.1vw;
    border-radius: 1vw;
  }
  #modeimg{
    width: 2vw;
    height: 2vw
  }
  #countries{
    display: flex;
    flex-wrap: wrap;
    top: 40vw;
    justify-content: space-between;
    margin-bottom: 50vw
  }
  #card{
    flex-basis: 47%;
    margin-bottom: 5vw;
    width: 28.3vw;
    height: 40.5vw;
    border-radius: 0.3vw
  }
  .flag{
    width: 100%;
    height: 21.1vw;
    border-radius: 0.3vw 0.3vw 0 0
  }
  .countryName{
    font-size: 2.2vw;
    top: 3vw;
  }
  .cardItem{
    margin-left: 4vw;
  }
  .desc-item{
    font-size: 2.17vw;
  }
  .bold{
    font-weight: 600;
    font-size: 2.17vw;
    display: inline;
  }
  .description{
    top: 3vw;
  }
  #card{
    margin-bottom: 5vw;
  }
  #options{
    height: auto;
  }
  .concealor{
    top: 10vw;
    height: 25vw;
  }
  .body-dark{
    min-height: 87.5vw;
  }
  #card:hover{
    transition: 0;
    transform: scale(1);
  }
  .body-dark{
    min-height: 145vw;
  }
}
@media (max-width: 480px){
  #top-h-cnt{
    height:21.3vw;
  }
  #bottom-header{
    margin-top: 5vw;
    flex-direction: column;
  }
  #modes{
    font-size: 3.2vw;
    width: 30%;
  }
  #intro{
    font-size: 3.7vw
  }
  #search{
    width: 91.5vw;
    height: 12.8vw;
    padding-left: 15vw;
    background-size: 3.5vw 3.5vw;
    background-position: 7% center;
  }
  .select{
    margin-top: 9vw;
    width: 53.3vw;
    background-size: 2vw 2vw;
    background-position: 91% center;
  }
  .select p{
    margin-left: 4vw
  }
  .select,#search,#options{
    height: 12.8vw;
    font-size: 3.2vw;
    border-radius: 1.3vw
  }
  #modeimg{
    width: 4vw;
    height: 4vw
  }
  #countries{
    display: flex;
    flex-direction: column;
    top: 70vw;
    margin-bottom: 80vw;
    gap:6vw
  }
  #card{
    margin: auto;
    width: 70vw;
    height: 89.6vw;
    border-radius: 1.3vw;
    display: relative;
  }
  #card:hover{
    transition: 0;
    transform: scale(1);
  }
  .flag{
    width: 100%;
    height: 42.7vw;
    border-radius: 1.3vw 1.3vw 0 0
  }
  .countryName{
    font-size: 4.8vw;
    top: 9vw;
  }
  .cardItem{
    margin-left: 6vw;
  }
  .desc-item{
    font-size: 3.7vw;
  }
  .bold{
    font-size: 3.7vw;
    display: inline;
  }
  .description{
    top: 10vw;
  }
  #card{
    margin-bottom: 5vw;
  }
  #options{
    height: auto;
    width: 53.3vw;
    padding: 3vw 0 3vw 0;
  }
  .opt-div{
    margin-left: 5vw
  }
  .concealor{
    top: 20vw;
    height: 45vw;
  }
  .body-dark{
    min-height: 200vw;
  }
}